name: Sync

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_VERBOSE: "true"
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  sync:
    name: Sync
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: Resonaa/gfas
      - name: Setup Rust toolchain
        run: rustup toolchain install stable --profile minimal --no-self-update
      - name: Rust cache
        uses: Swatinem/rust-cache@v2
      - name: Sync
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        run: cargo run --release -- -vv
